# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# Ignore .DS_Store files
.DS_Store

arcos-md-baltimore-city-24510-itemized.tsv
Labs/lab_05/data/mingo_buyer_per_year.csv
Labs/lab_05/data/arcos-wv-mingo-54059-itemized.tsv
Labs/lab_05/data/county_pills_per_year.csv
Labs/lab_05/data/county_population_per_year.csv
Labs/lab_05/data/mingo_buyer_addresses.csv
